<div class = "medium-list">
    <div class = "list-viewer-wrapper">
        <div class = "list-header-title">Add Category</div>
        <form [formGroup] = "categoryForm" (ngSubmit) = "categoryForm.valid && onCategorySubmit()" novalidate>
                <div class = "form-container">
                    <mat-form-field>
                        <input id = "categoryId"
                               matInput     
                               formControlName = "categoryId" 
                               [(ngModel)] = "user.categoryId"
                               placeholder = "Enter Category Id*"/>
                    </mat-form-field>
                    <mat-form-field>
                        <input id = "categoryName"
                               matInput     
                               formControlName = "categoryName" 
                               [(ngModel)] = "user.categoryName"
                               placeholder = "Enter Category Name*"/>
                    </mat-form-field>
                    <mat-form-field>
                        <input id = "createdBy"
                               matInput     
                               formControlName = "createdBy" 
                               [(ngModel)] = "user.createdBy"
                               placeholder = "Created By*"/>
                    </mat-form-field> 
                    <button mat-raised-button color = "accent"type = "submit" class = "mat-primary" [disabled] = "!categoryForm.valid"><mat-icon>add_business</mat-icon>ADD</button>
                    <button mat-raised-button color = "accent" routerLink = "/home" class = "divider"><mat-icon>home</mat-icon>Home</button>
            </div>
        </form>
    </div>
</div>
