<button mat-flat-button mat-raised-button color = "accent" [matMenuTriggerFor] = "appMenu"><mat-icon>expand_more</mat-icon>PRODUCT</button>

<mat-menu #appMenu = "matMenu">
    <button mat-menu-item routerLink = "/product">Add-Product<mat-icon>chevron_right</mat-icon></button>
    <button mat-menu-item routerLink = "/product-data">Get-Product<mat-icon>chevron_right</mat-icon></button>
</mat-menu>

<button mat-flat-button mat-raised-button color = "accent" [matMenuTriggerFor] = "appMenu1"><mat-icon>expand_more</mat-icon>CATEGORY</button>

<mat-menu #appMenu1 = "matMenu">
    <button mat-menu-item routerLink = "/category">Add-Category<mat-icon>chevron_right</mat-icon></button>
    <button mat-menu-item routerLink = "/category-data">Get-Category<mat-icon>chevron_right</mat-icon></button>
</mat-menu>

