<mat-table [dataSource]="productData" class="mat-elevation-z8">

    <ng-container matColumnDef="productId">
        <mat-header-cell *matHeaderCellDef> Product Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.productId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="productName">
        <mat-header-cell *matHeaderCellDef> Product Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.productName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="productPrice">
        <mat-header-cell *matHeaderCellDef> Product Price </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.productPrice}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="productImage">
        <mat-header-cell *matHeaderCellDef> Product Image </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.productImage}} </mat-cell>
    </ng-container>
    <!-- CategoryId Column -->
    <ng-container matColumnDef="categoryId">
      <mat-header-cell *matHeaderCellDef> Category Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.categoryId}} </mat-cell>
    </ng-container>
  
    <!-- CategoryName Column -->
    <ng-container matColumnDef="categoryName">
      <mat-header-cell *matHeaderCellDef> Category Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.categoryName}} </mat-cell>
    </ng-container>
  
    <!-- CreatedBy Column -->
    <ng-container matColumnDef="createdBy">
      <mat-header-cell *matHeaderCellDef> Created By </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.createdBy}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let row"> 
        <button mat-icon-button color = "warn" (click)="deleteProduct(row.productId)">
          <mat-icon>delete</mat-icon></button>       
      </td>
    </ng-container> 
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

