<div class = "medium-list">
    <div class = "list-viewer-wrapper">
        <div class = "list-header-title">Login</div>
        <form [formGroup] = "loginForm" (ngSubmit) = "loginForm.valid && onLoginSubmit()" novalidate>
                <div class = "form-container">
                    <mat-form-field>
                        <input id = "userEmail"
                               matInput     
                               formControlName = "userEmail" 
                               [(ngModel)] = "user.userEmail"
                               placeholder = "Enter your Email Id*"/>
                               <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                    <mat-form-field>
                        <input id = "password"
                               matInput     
                               formControlName = "password" 
                               [(ngModel)] = "user.password"
                               placeholder = "Enter your Password*"
                               [type] = "hide ? 'password' : 'text'"/>
                               <mat-icon matSuffix (click) = "hide = !hide">
                                   {{hide ? 'visibility' : 'visibility_off'}}
                               </mat-icon>
                    </mat-form-field>
                    <button mat-raised-button color = "accent"type = "submit" class = "mat-primary" [disabled] = "!loginForm.valid"><mat-icon>login</mat-icon>Login</button>
                    <button mat-raised-button color = "accent" routerLink = "/register" class = "divider"><mat-icon>how_to_reg</mat-icon>Register</button>
                    <button mat-raised-button color = "accent" routerLink = "/home" class = "divider"><mat-icon>home</mat-icon>Home</button>
            </div>
        </form>
    </div>
</div>
