.medium-list{
    margin : auto;
    width : 600px;
    padding : 10px;
}

.list-viewer-wrapper{
    border : 6px solid rgba(49, 47, 47, 0);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 2px 2px rgba(15, 13, 13, 0.12);
    margin : 10px;
}

.list-header-title{
    color : rgba(39, 50, 199, 0.54);
    background : rgba(14, 6, 6, 0.03);
    padding : 8px 20px;
    font-weight: bold;
}

.form-container{
    display : flex;
    flex-direction: column;
}

.divider{
    margin-top: 10px !important;
}