<div class = "medium-list">
    <div class = "list-viewer-wrapper">
        <div class = "list-header-title">Add Product</div>
        <form [formGroup] = "productForm" (ngSubmit) = "productForm.valid && onProductSubmit()" novalidate>
                <div class = "form-container">
                    <mat-form-field>
                        <input id = "productId"
                               matInput     
                               formControlName = "productId" 
                               [(ngModel)] = "user.productId"
                               placeholder = "Enter Product Id*"/>
                    </mat-form-field>
                    <mat-form-field>
                        <input id = "productName"
                               matInput     
                               formControlName = "productName" 
                               [(ngModel)] = "user.productName"
                               placeholder = "Enter Product Name*"/>
                    </mat-form-field>
                    <mat-form-field>
                        <input id = "productPrice"
                               matInput     
                               formControlName = "productPrice" 
                               [(ngModel)] = "user.productPrice"
                               placeholder = "Enter Product Price*"/>
                    </mat-form-field>
                    <mat-form-field>
                        <input id = "productImage"
                               matInput     
                               formControlName = "productImage" 
                               [(ngModel)] = "user.productImage"
                               placeholder = "Enter Product Image path*"/>
                    </mat-form-field>
                    <mat-form-field>
                        <input id = "categoryId"
                               matInput     
                               formControlName = "categoryId" 
                               [(ngModel)] = "user.categoryId"
                               placeholder = "Enter Category Id*"/>
                    </mat-form-field>
                    <mat-form-field>
                        <input id = "categoryName"
                               matInput     
                               formControlName = "categoryName" 
                               [(ngModel)] = "user.categoryName"
                               placeholder = "Enter Category Name*"/>
                    </mat-form-field>
                    <mat-form-field>
                        <input id = "createdBy"
                               matInput     
                               formControlName = "createdBy" 
                               [(ngModel)] = "user.createdBy"
                               placeholder = "Created BY*"/>
                    </mat-form-field>
                    
                    <button mat-raised-button color = "accent"type = "submit" class = "mat-primary" [disabled] = "!productForm.valid"><mat-icon>add_business</mat-icon>ADD</button>
                    <button mat-raised-button color = "accent" routerLink = "/home" class = "divider"><mat-icon>home</mat-icon>Home</button>
            </div>
        </form>
    </div>
</div>

