<mat-toolbar color = "primary">
     <a mat-button routerLink = "/"><mat-icon>storefront</mat-icon>My App</a>

     <div class = "spacer"></div>

     <a mat-button routerLink = "login"><mat-icon>login</mat-icon>Login</a>
     <a mat-raised-button color = "accent" routerLink = "register"><mat-icon>how_to_reg</mat-icon>Register</a>

</mat-toolbar>
