<mat-table [dataSource]="categoryData" class="mat-elevation-z8">
  
    <!-- CategoryId Column -->
    <ng-container matColumnDef="categoryId">
      <mat-header-cell *matHeaderCellDef> Category Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.categoryId}} </mat-cell>
    </ng-container>
  
    <!-- CategoryName Column -->
    <ng-container matColumnDef="categoryName">
      <mat-header-cell *matHeaderCellDef> Category Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.categoryName}} </mat-cell>
    </ng-container>
  
    <!-- CreatedBy Column -->
    <ng-container matColumnDef="createdBy">
      <mat-header-cell *matHeaderCellDef> Created By </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.createdBy}} </mat-cell>
    </ng-container>

    <!-- <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
    </ng-container> -->
    
    <!-- Aciton Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let row"> 
        <button mat-icon-button color = "warn" (click)="deleteCategory(row.categoryId)">
          <mat-icon>delete</mat-icon></button>       
      </td>
    </ng-container> 
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>